<ion-header [translucent]="true">

    <ion-toolbar>
    <ion-title>G00438802</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favorites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <h2> {{recipe.title}} Ingredients List:</h2>
  <ion-card *ngFor="let ing of recipe.ingredients">
  <img alt="Ingredient image" src = {{imgBase}}{{ing.image}} />
  <ion-card-header>
    <ion-card-title>{{ ing.amount }} {{ ing.unitShort }} of {{ ing.name }}</ion-card-title>
    <ion-card-subtitle>{{ ing.amount }} {{ ing.unit }}</ion-card-subtitle>
  </ion-card-header>
</ion-card>
<h2>Instructions:</h2>


<ion-list>
  <ion-item *ngFor="let step of recipe.steps">
    <ion-badge slot="start" color="primary">{{ step.number }}</ion-badge>
    <ion-label class="ion-text-wrap">{{ step.step }}</ion-label>
  </ion-item>
</ion-list>
<ion-button fill="clear"  (click) = "toggleFavorite()">
  <ion-icon name="heart"></ion-icon>
  {{isFavorite ? "REMOVE FROM FAVORITES" : "ADD TO FAVORITES"}}
</ion-button>
</ion-content>
