<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00438802</ion-title>
      <ion-buttons slot="end">
      <ion-button routerLink="/favorites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
    <ion-input label="Enter Ingredients" placeholder="Ingredients"></ion-input>
  </ion-item>
  <ion-button expand="full" >Search</ion-button>
</ion-content>
