<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text class="section-title">
  <h2>Display Recipe Measurements in:</h2>
  </ion-text>

<ion-radio-group [(ngModel)]="newMeasureUnit" (ionChange)="onUnitChange()">
  <ion-item>
    <ion-label>Metric</ion-label>
    <ion-radio slot="start" value="metric"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>US</ion-label>
    <ion-radio slot="start" value="us"></ion-radio>
  </ion-item>
</ion-radio-group>

<ion-content class="ion-padding">
  <ion-button (click)="goBack()">Back</ion-button>
</ion-content>
</ion-content>
